<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pro.controller.mapper.PhotosMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pro.pojo.Photos">
        <id column="photo_id" property="photoId" />
        <result column="name" property="name" />
        <result column="photo" property="photo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        photo_id, name, photo
    </sql>

    <select id="getPhotos" resultMap="BaseResultMap">
        select * from photos;
    </select>
</mapper>
