<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pro.controller.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pro.pojo.User">
        <id column="user_id" property="userId" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="salt" property="salt" />
        <result column="realname" property="realname" />
        <result column="phone" property="phone" />
        <result column="sex" property="sex" />
        <result column="avatar" property="avatar" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, username, password, salt, realname, phone, sex, avatar
    </sql>

    <select id="getUserById" resultMap="BaseResultMap">
        select * from users where user_id = #{userId};
    </select>

    <select id="getUser" resultMap="BaseResultMap">
        select * from users where username = #{username} and password = #{password};
    </select>

    <update id="updateUser">
        update users set
                username = #{username},
                realname = #{realname},
                phone = #{phone},
                sex = #{sex},
                avatar = #{avatar}
        where user_id = #{userId};
    </update>

    <insert id="addUser">
        insert into users(username,password,realname,phone,sex,avatar) values (#{username},#{password},#{realname},#{phone},#{sex},#{avatar});
    </insert>
</mapper>
